<%- include('includes/head.ejs') %>
  
  <body>
    <h1>welcome to home page</h1>
    <form action="/users" method="post">
      <input type="text" name="username" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
